body{
	background: black !important;
	line-height: inherit;
}

body, h1, h2, h3{
	color: white;
	border: none !important;
	font-family: 'Domine', serif;
	overflow: hidden;
}

#mainContainer
{
	margin: 10px;
	width: 1900px;
	height: 1050px;
	overflow: hidden;
}

.span6{
	width: 900px;
}

#right{
	margin-left: 30px;
}

#clock{
	text-align: center;
	font-size: 160px;
	padding: 15px 0;
	font-family: 'Fira Mono';
}

#events h1{
	font-size: 60px;
	margin: 10px 20px;
	padding: 10px 20px;
}


#events ul{
	list-style: none;
	margin: 0;
	padding: 0;
}


#events li{
	color: black;
	height: 90px;
	overflow: hidden;
	margin-bottom: 5px;
	padding-left: 40px;
}

#events li p{
	font-size: 30px;
}

#events h2{
	color: black;
	height: 40px;
	font-size: 40px;
	margin: 10px 0 0 0;
	padding: 0;
}

#temp{
	font-size: 130px;
	text-align: left;
}

#temp .icon{
	font-size: 140px;
	margin-right: -80px;
	color: #474747;
}

#windChill{
	padding: 30px 0 0 15px;
	font-size: 20px;
}

#chill{
	font-size: 60px;
}

#temperatures{
	text-align: center;
	width: 100%;
}

#temperatures>div{
	display: inline-block;

}

#currentForecast, #forecast{
	clear: both;
	width: 100%;
	text-align: center;
	font-size: 50px;
}

#forecast{
	font-size: 50px;
	text-align: center;
	margin-top: 10px;
}

.temps{
	font-size: 30px;
	height: 20px;
	float: right;
}

.highLow{
	width: 50px;
	display: inline-block;
	text-align: right;
}

#hourly{
	margin-top: 20px;
	font-size: 20px;
}

#hourly .span1{
	margin-left: 45px;
	width: 100px;
	text-align: center;
	font-size: 30px;
}

#hourly .temp{
	font-size: 70px;
}