body{
	background: black;
}

body, h1, h2, h3{
	color: white; 
	font-family: 'Domine', serif;
}

#mainContainer
{
	margin: 0;

}

div{
	overflow: hidden;
}

#weather{
	background: white;
}

#clock{
	text-align: center;
	font-size: 80px;
	padding: 50px 0;
}

#events{
	height: 580px;
	overflow: hidden;
	margin-bottom: 5px;
}
#events ul{
	list-style: none;
	margin: 0;
	padding: 0;
}

#events li{
	height: 55px;
	overflow: hidden;
	margin-bottom: 5px;
}

#events #current li{
	height: 120px;
	padding: 3px;
}

#events #current h2{
	font-size: 40px;
	height: 90px;
}

#events #current p{
	font-size: 16px;
	height: 20px;
}

#events h2{
	height: 30px;
	overflow: hidden;
}