<div class="row" id="main">
	<div class="span6">

		<div class="row">
		<div class="span6" id="events">
		</div>
	</div>
</div>
	<div class="span6">

		<div class="row">
			<div class="span6" id="clock"/>
		</div>

		<div class="row">
			<div class="span6" id="weather"/>
		</div>

		<div class="row">
			<div class="span6" id="photos"/>
		</div>
	</div>
</div>