<div class="row" id="main">
	<div class="span6" id="events">
	</div>
	<div class="span6" id="right">

		<div class="row">
			<div class="span6" id="clock"/>
		</div>

		<div class="row">
			<div class="span6" id="weather"/>
		</div>
	</div>
	<div class="span6" id="sensors">
		<div class="row" id="climate">
			<div id="ecobee" class="sensor"/>
			<div id="evelynRoom" class="sensor"/>
			<div id="office" class="sensor"/>
			<div id="garageDoor" class="sensor"/>
			<div id="outside" class="sensor"/>
		</div>
	</div>
</div>
