<%
	var current = common.roundTemp(currently.temperature );
	var windChill = common.roundTemp(currently.apparentTemperature );

	var showChill = false;

	if( Math.abs( current - windChill )> 2 ){
		showChill = true;
	}

%>


		<div id="temperatures">

			<div id="temp">
				<i class="icon <%= common.translateIcon( currently.icon ) %>"></i>
				<%= current  %> 
				<i class="wi-celcius"></i>
			</div>
			<% if( showChill ){ %>
			<div id="windChill">
				Feels Like
				<div id="chill">
				<%= windChill %>
				<i class="wi-celcius"></i>
				</div>
			</div> 
			<% } %>
		</div>
		<div class="row" id="currentForecast">
			<%= currently.summary %>
		</div>
